In [1]:
import pandas as pd

In [5]:
import pandas as pd 
import os

liste_des_fichiers = os.listdir('Logs/Count_Send_Logs')

dico = {}
for i in liste_des_fichiers:
    df = pd.read_csv(os.path.join('Logs','Count_Send_Logs',i))
    #print(df)
    #df['type_location'] = 'Count_Send_Logs'
    dico[i[:10]] = df)
    # concatenation des sheet
concat_df = pd.concat(dico)
concat_df

                    tag_id                              party_id log_time
01-06-2022 0    SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
           1    nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
           2    U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
           3    rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
           4    s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04
...                    ...                                   ...      ...
31-05-2022 108  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:29
           109  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:26
           110  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27
           111  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
           112  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27

[3457 rows x 3 columns]

In [11]:
concat_df = concat_df.reset_index()

,index,level_0,level_1,tag_id,party_id,log_time
0,0,01-06-2022,0,SuLMbNw7hP,25c7c2c6-5803-46b6-b695-d94c15182c8d,18:01
1,1,01-06-2022,1,nRJtMghMNj,25c7c2c6-5803-46b6-b695-d94c15182c8d,18:01
2,2,01-06-2022,2,U9v9tmUdEs,7ce89d46-8ad1-4195-a0eb-12c7c5fe976f,18:03
3,3,01-06-2022,3,rL0hRtSohf,7ce89d46-8ad1-4195-a0eb-12c7c5fe976f,18:03
4,4,01-06-2022,4,s4UTkUJZM3,59a1d2eb-1a7c-499f-8e91-3513a295af04,18:04
...,...,...,...,...,...,...
3452,3452,31-05-2022,108,i8aN7figeB,5bf73162-ec22-441e-b0e2-89e487b9e1dc,18:29
3453,3453,31-05-2022,109,OGbWKKPPhH,73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4,18:26
3454,3454,31-05-2022,110,g8aX4FtCh8,73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4,18:27
3455,3455,31-05-2022,111,NtXj7Rd2Nf,73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4,18:32
3456,3456,31-05-2022,112,kE71lzTm6N,73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4,18:27

In [12]:
concat_df = concat_df.drop(['index','level_1'], axis = 1)
concat_df.head()

      level_0      tag_id                              party_id log_time
0  01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1  01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2  01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3  01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4  01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04

In [15]:
concat_df = concat_df.rename(columns={"level_0": "date"})
concat_df

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04
...          ...         ...                                   ...      ...
3452  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:29
3453  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:26
3454  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27
3455  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
3456  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27

[3457 rows x 4 columns]

In [61]:
import pandas as pd 
import os

def logs_file(path_file,input_folder):
    liste_des_fichiers = os.listdir(path_file)

    dico = {}
    for i in liste_des_fichiers:
        df = pd.read_csv(os.path.join('Logs',input_folder,i))
        #print(df)
        #df['type_location'] = 'Count_Send_Logs'
        dico[i[:10]] = df
        # concatenation des sheet
    concat_df = pd.concat(dico)
    #mettre les index en colonne
    concat_df = concat_df.reset_index()
    #suppression d'un index pas important
    concat_df = concat_df.drop(['level_1'], axis = 1)
    #rename de l'index qu'on veut sauvegarder
    concat_df = concat_df.rename(columns={"level_0": "date"})
    concat_df['date'] = pd.to_datetime(concat_df['date'], format='%d-%m-%Y')
    #export du nouveau fichier
    concat_df.to_excel(input_folder + '.xlsx', index = False)
    #print(concat_df)

In [22]:
logs_file('Logs/Launch_Logs','Launch_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:10
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:10
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:10
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:10
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:10
...          ...         ...                                   ...      ...
3452  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:36
3453  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:36
3454  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:36
3455  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:36
3456  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:36

[3457 rows x 4 columns]

In [23]:
logs_file('Logs/Count_Send_Logs','Count_Send_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04
...          ...         ...                                   ...      ...
3452  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:29
3453  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:26
3454  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27
3455  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
3456  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:27

[3457 rows x 4 columns]

In [24]:
logs_file('Logs/Launchpad_1_Logs','Launchpad_1_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04
...          ...         ...                                   ...      ...
1778  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:29
1779  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
1780  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
1781  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32
1782  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:32

[1783 rows x 4 columns]

In [25]:
logs_file('Logs/Launchpad_2_Logs','Launchpad_2_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  8RCw5T8hw8  1a0a653b-9956-4a22-9d13-e635798d3059    18:11
1     01-06-2022  WJOrC4ARjo  1a0a653b-9956-4a22-9d13-e635798d3059    18:11
2     01-06-2022  VjlYswcgQs  adcd7f2b-a66d-4727-943a-263f0a3f119d    18:11
3     01-06-2022  u1v25aKqzC  adcd7f2b-a66d-4727-943a-263f0a3f119d    18:11
4     01-06-2022  jgjFYWADwp  adcd7f2b-a66d-4727-943a-263f0a3f119d    18:11
...          ...         ...                                   ...      ...
1702  31-05-2022  B80wz2Rj2h  39dcaadb-3858-4d71-a48a-2534657f76b7    18:26
1703  31-05-2022  k4ReNA5l1B  24a4fe76-9421-43fe-a9c9-a885478d69a3    18:27
1704  31-05-2022  mrhZBV5AcL  24a4fe76-9421-43fe-a9c9-a885478d69a3    18:27
1705  31-05-2022  bqenXntblD  24a4fe76-9421-43fe-a9c9-a885478d69a3    18:27
1706  31-05-2022  aO1hl2z1TY  24a4fe76-9421-43fe-a9c9-a885478d69a3    18:27

[1707 rows x 4 columns]

In [26]:
logs_file('Logs/Meeting_Point_Logs','Meeting_Point_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    17:50
1     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    17:50
2     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    17:49
3     01-06-2022  O5k6qilXrv  59a1d2eb-1a7c-499f-8e91-3513a295af04    17:49
4     01-06-2022  NTqJlvhfh9  943d8ef3-0df2-42f4-9ea5-48fd2006b862    17:51
...          ...         ...                                   ...      ...
2549  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:05
2550  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:09
2551  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:09
2552  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:09
2553  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:09

[2554 rows x 4 columns]

In [27]:
logs_file('Logs/Office_Logs','Office_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    17:55
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    17:55
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    17:58
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    17:58
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    17:58
...          ...         ...                                   ...      ...
3549  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    18:22
3550  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:22
3551  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:22
3552  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:22
3553  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    18:22

[3554 rows x 4 columns]

In [28]:
logs_file('Logs/Return_Logs','Return_Logs')

            date      tag_id                              party_id log_time
0     01-06-2022  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    23:35
1     01-06-2022  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    23:35
2     01-06-2022  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    23:35
3     01-06-2022  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    23:35
4     01-06-2022  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    23:35
...          ...         ...                                   ...      ...
3604  31-05-2022  i8aN7figeB  5bf73162-ec22-441e-b0e2-89e487b9e1dc    23:38
3605  31-05-2022  OGbWKKPPhH  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    23:38
3606  31-05-2022  g8aX4FtCh8  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    23:38
3607  31-05-2022  NtXj7Rd2Nf  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    23:38
3608  31-05-2022  kE71lzTm6N  73df10eb-5a87-452f-ab7b-d4d8f0fcc3c4    23:38

[3609 rows x 4 columns]

In [60]:
    logs_file('Logs/Count_Send_Logs','Count_Send_Logs')
    logs_file('Logs/Launch_Logs','Launch_Logs')
    logs_file('Logs/Launchpad_1_Logs','Launchpad_1_Logs')
    logs_file('Logs/Launchpad_2_Logs','Launchpad_2_Logs')
    logs_file('Logs/Meeting_Point_Logs','Meeting_Point_Logs')
    logs_file('Logs/Office_Logs','Office_Logs')
    logs_file('Logs/Return_Logs','Return_Logs')

FileNotFoundError: [WinError 3] Le chemin d’accès spécifié est introuvable: 'Logs/Count_Send_Logs'

In [39]:
df_test = pd.read_excel('Logs_clean/Count_Send_Logs.xlsx')
df_test.head()

        date      tag_id                              party_id log_time
0 2022-06-01  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1 2022-06-01  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2 2022-06-01  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3 2022-06-01  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4 2022-06-01  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04

In [7]:
import pandas as pd
df_test2 = pd.read_excel('Count_Send_Logs.xlsx')
df_test2.head()

        date      tag_id                              party_id log_time
0 2022-06-01  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1 2022-06-01  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
2 2022-06-01  U9v9tmUdEs  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
3 2022-06-01  rL0hRtSohf  7ce89d46-8ad1-4195-a0eb-12c7c5fe976f    18:03
4 2022-06-01  s4UTkUJZM3  59a1d2eb-1a7c-499f-8e91-3513a295af04    18:04

In [8]:
df_test2.isnull().sum()

date        0
tag_id      0
party_id    0
log_time    0
dtype: int64

In [19]:
df_test2.duplicated().sum()

0

In [20]:
df_test2['tag_id'].duplicated().sum()

0

In [47]:
df_test2.sort_values(by = 'log_time', ascending = True)

           date      tag_id                              party_id log_time
1345 2022-06-12  SMAg616zRa  4653f8b6-b9c7-4459-b486-cc587a9c1247    17:58
552  2022-06-05  Ee1NT0xoDQ  ab29f4a0-332f-4a85-badd-7ee9b4ff1ab7    17:59
1081 2022-06-09  P6r7odDQwS  9d896c73-a814-40e2-accb-3381881d1e00    17:59
1354 2022-06-12  LNK9f6HruN  e9c6fbc4-908e-4089-baf6-5297e3dca9ea    17:59
1355 2022-06-12  8Nqhye2ol2  f9c04c0b-6f16-400e-b48f-c6be7bee4892    17:59
...         ...         ...                                   ...      ...
1064 2022-06-08  q8f83fOvZq  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:39
964  2022-06-07  6UhzLSoFWB  16d95eb1-94dc-4fad-a567-120a6e656d4e    18:39
1066 2022-06-08  9AB5jtiq4K  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:41
1063 2022-06-08  Vq9P9r9B6J  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:43
1065 2022-06-08  o0g8NWgObA  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:48

[3457 rows x 4 columns]

# Problème 

Pour cette table (Count_Send_Logs.xlsx), les données sont plutot propres.
Apres verification, il n'ya pas de valeurs manquantes ni de doublons

In [9]:
#Table Launch_Logs

import pandas as pd
df_test3 = pd.read_excel('Launch_Logs.xlsx')
df_test3.isnull().sum()

date        0
tag_id      0
party_id    0
log_time    0
dtype: int64

In [46]:
df_test3.sort_values(by = 'log_time', ascending = True)

           date      tag_id                              party_id log_time
1344 2022-06-12  VsLJR5X3QJ  4653f8b6-b9c7-4459-b486-cc587a9c1247    18:07
1857 2022-06-15  4LOmXX2VHa  ba4d0681-5edd-413c-946f-63118f0bda2c    18:07
1855 2022-06-15  DCPgqq1KOd  4e2a5bc1-7c9e-486e-9714-12695bc6493a    18:07
1854 2022-06-15  Trmh1PiC4w  4e2a5bc1-7c9e-486e-9714-12695bc6493a    18:07
1853 2022-06-15  0t3DJCbXID  4e2a5bc1-7c9e-486e-9714-12695bc6493a    18:07
...         ...         ...                                   ...      ...
1065 2022-06-08  o0g8NWgObA  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:51
1064 2022-06-08  q8f83fOvZq  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:51
1063 2022-06-08  Vq9P9r9B6J  d9a0a3fc-a6c9-4d73-8652-81081e2b4145    18:51
1052 2022-06-08  GvWBfnxyKn  212ac223-9e33-481b-942d-6f0e9d30a851    18:51
1062 2022-06-08  RNQCyRk1c1  7e5b5433-2edd-46be-987f-f985f87dbe18    18:51

[3457 rows x 4 columns]

In [21]:
df_test3.duplicated().sum()

0

In [22]:
df_test3['tag_id'].duplicated().sum()

0

# Problème
 

Pour cette table ('Launch_Logs.xlsx'), les données sont plutot propres.
Apres verification, il n'ya pas de valeurs manquantes ni de doublons

In [10]:
import pandas as pd
df_test4 = pd.read_excel('Launchpad_1_Logs.xlsx')
df_test4.isnull().sum()

date        0
tag_id      0
party_id    0
log_time    0
dtype: int64

In [23]:
df_test4.duplicated().sum()

0

In [24]:
df_test4['tag_id'].duplicated().sum()

0

In [38]:
df_test4.shape

(1783, 4)

In [48]:
df_test4.sort_values(by = 'log_time', ascending = True)

           date      tag_id                              party_id log_time
690  2022-06-12  TvcBNMvJxW  5d21c80a-b6e8-4fa3-b14f-75b2384f2c0e    18:00
0    2022-06-01  SuLMbNw7hP  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
1    2022-06-01  nRJtMghMNj  25c7c2c6-5803-46b6-b695-d94c15182c8d    18:01
693  2022-06-12  IGgqSk2pHz  07515c61-cd8f-4f4d-9543-8dfd2cd50086    18:01
692  2022-06-12  wsiLqQFYFH  07515c61-cd8f-4f4d-9543-8dfd2cd50086    18:01
...         ...         ...                                   ...      ...
1362 2022-06-18  wKFHXKcpWU  35905d71-254a-4d43-ad22-d8e48b959f94    18:46
1359 2022-06-18  sMO75nxYul  35905d71-254a-4d43-ad22-d8e48b959f94    18:46
1360 2022-06-18  NNjLeR43r4  35905d71-254a-4d43-ad22-d8e48b959f94    18:46
1361 2022-06-18  zx0B1JPu07  35905d71-254a-4d43-ad22-d8e48b959f94    18:46
1357 2022-06-18  V2XK9KyNnA  35905d71-254a-4d43-ad22-d8e48b959f94    18:46

[1783 rows x 4 columns]

# Problème 
Pour cette table ('Launchpad_1_Logs.xlsx'), les données sont plutot propres. Apres verification, il n'ya pas de valeurs manquantes ni de doublons

Mais un point a retenu notre attention:
Si on considere l'hypothese de depart qui dit que chaque Launchpad doit avoir au maximum 18 personnes. Alors il y'a une incomprehension des données dans le sens ou il y'a par exple pour le 01/06/22, 60 enregistrements.

In [11]:
import pandas as pd
df_test5 = pd.read_excel('Launchpad_2_Logs.xlsx')
df_test5.isnull().sum()

date        0
tag_id      5
party_id    5
log_time    6
dtype: int64

In [15]:
df_test5['tag_id'].duplicated().sum()

32

In [16]:
df_test5.duplicated().sum()

23

# Probleme
1) Données NULL

On remarque qu'il y'a certains données manquantes concernant le tag_id, party_id et log_time.
Ceci peut se justifier sur le fait que dans certaines observations, on a des données decalées.

2) Données en doublant

On sait qu' une personne est identifiée par son tag_id donc ce dernier doit etre unique.
Mais pour cette table, nous avons 32 doublants par rapport à tag_id.

On remarque que certaines données sont doublées par rapport à la date,tag_id et party_id mais un log_time different.

3) Non Standardisation de la colonne log_time

log_time est sous le format : 
    * H:M
    * 1/0/00 H:M

# Solution 
1) Données NULL

Le probleme des données manquantes peut etre resolu en traitant le probleme des doublant

2) Données en doublant

Pour resoudre ce probleme, nous avons consideré qu'une personne emet qu'une seule fois un tag_id. Donc si un tag_id est detecté deux fois, nous allons garder le log_time le plus proche de l'heure de l'heure de Count and Send. En faisant un trie par ordre croissant de log_time, nous donneras toujours le premier des doublant qui a le log_time le plus petit.

3)

In [27]:
#Localisation des duplicates par rapport à la cle tag_id
df_test5.loc[df_test5['tag_id'].duplicated(keep = False)]

,date,tag_id,party_id,log_time
482,2022-06-08,5GuzPO6yDX,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
483,2022-06-08,DlV5N9xpfP,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
484,2022-06-08,ICTkNztQyt,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
485,2022-06-08,5GuzPO6yDX,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
486,2022-06-08,DlV5N9xpfP,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
487,2022-06-08,ICTkNztQyt,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
519,2022-06-08,Vq9P9r9B6J,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
520,2022-06-08,q8f83fOvZq,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
521,2022-06-08,o0g8NWgObA,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
522,2022-06-08,9AB5jtiq4K,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
523,2022-06-08,Vq9P9r9B6J,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
524,2022-06-08,q8f83fOvZq,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
525,2022-06-08,o0g8NWgObA,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
526,2022-06-08,9AB5jtiq4K,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
530,2022-06-09,iFzlu0nvqT,9d896c73-a814-40e2-accb-3381881d1e00,18:05
531,2022-06-09,iFzlu0nvqT,NaN,NaN
532,2022-06-09,NaN,NaN,18:05
545,2022-06-09,XFXmCq5bSJ,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
546,2022-06-09,sh9DtBOvPa,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
547,2022-06-09,4yj7FOCoXL,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
548,2022-06-09,DmU2ft45ME,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
549,2022-06-09,AFfSM6TELQ,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
550,2022-06-09,67skEXF7Os,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
551,2022-06-09,F0oNqFO63D,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
552,2022-06-09,k3fQ1zbyhz,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
553,2022-06-09,BnT5Qm3Zjt,4e119d77-66c7-4357-8546-dd924a5c82f4,18:31
554,2022-06-09,XFXmCq5bSJ,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
555,2022-06-09,sh9DtBOvPa,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
556,2022-06-09,4yj7FOCoXL,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
557,2022-06-09,DmU2ft45ME,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
558,2022-06-09,AFfSM6TELQ,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
559,2022-06-09,67skEXF7Os,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
560,2022-06-09,F0oNqFO63D,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
561,2022-06-09,k3fQ1zbyhz,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
562,2022-06-09,BnT5Qm3Zjt,4e119d77-66c7-4357-8546-dd924a5c82f4,18:31
654,2022-06-11,NaN,fbd0c19d-21e4-48e2-9ea6-81a5f2832fc8,NaN
655,2022-06-11,NaN,fbd0c19d-21e4-48e2-9ea6-81a5f2832fc8,NaN
666,2022-06-11,tTjCinV8Fg,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
667,2022-06-11,Rv7T5WkpBc,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
668,2022-06-11,FZE7X9EoIe,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
669,2022-06-11,tTjCinV8Fg,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
670,2022-06-11,Rv7T5WkpBc,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
671,2022-06-11,FZE7X9EoIe,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
1476,2022-05-25,PtFBDm8pzI,71c3336e-9e1e-49d2-9e8f-44356764e55b,1/0/00 6:25 PM
1477,2022-05-25,PtFBDm8pzI,NaN,NaN
1485,2022-05-25,4VrOKKNJ43,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1486,2022-05-25,sSXz0Dftu4,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1487,2022-05-25,r4C31yzD2S,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1488,2022-05-25,wxhpdtRCLB,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1489,2022-05-25,4VrOKKNJ43,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1490,2022-05-25,sSXz0Dftu4,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1491,2022-05-25,r4C31yzD2S,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1492,2022-05-25,wxhpdtRCLB,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1497,2022-05-26,NaN,9c74dd77-9c93-422f-b388-b85fd18dd0af,NaN
1498,2022-05-26,1oazHce9po,9c74dd77-9c93-422f-b388-b85fd18dd0af,1/0/00 6:16 PM
1499,2022-05-26,1oazHce9po,NaN,NaN
1507,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1508,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1509,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1516,2022-05-27,NaN,NaN,1/0/00 6:21 PM

In [49]:
df_test5.sort_values(by = 'log_time', ascending = True)

,date,tag_id,party_id,log_time
1522,2022-05-28,BFz5GZnAZL,b135f10e-7a6f-4f53-a983-4192d5b889d5,1/0/00 6:09 PM
1524,2022-05-28,SAJWaFNWEb,b135f10e-7a6f-4f53-a983-4192d5b889d5,1/0/00 6:09 PM
1525,2022-05-28,tcgaPqS5J5,b135f10e-7a6f-4f53-a983-4192d5b889d5,1/0/00 6:09 PM
1526,2022-05-28,aISIiZHbFT,b135f10e-7a6f-4f53-a983-4192d5b889d5,1/0/00 6:09 PM
1523,2022-05-28,vI732WYoRp,b135f10e-7a6f-4f53-a983-4192d5b889d5,1/0/00 6:09 PM
...,...,...,...,...
833,2022-06-13,jv2j8pOLbd,3e08897f-9b20-4bf8-8ec3-464f9d19e042,23:32
531,2022-06-09,iFzlu0nvqT,NaN,NaN
1477,2022-05-25,PtFBDm8pzI,NaN,NaN
1497,2022-05-26,NaN,9c74dd77-9c93-422f-b388-b85fd18dd0af,NaN
1499,2022-05-26,1oazHce9po,NaN,NaN

In [39]:
df_test5.loc[df_test5['tag_id'].duplicated(keep = False)].sort_values(by = 'log_time', ascending = True)

,date,tag_id,party_id,log_time
1498,2022-05-26,1oazHce9po,9c74dd77-9c93-422f-b388-b85fd18dd0af,1/0/00 6:16 PM
1516,2022-05-27,NaN,NaN,1/0/00 6:21 PM
1508,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1507,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1509,2022-05-27,UFpLLFu1OJ,6a707d20-a3e2-40d1-a75c-f642ad08a146,1/0/00 6:21 PM
1476,2022-05-25,PtFBDm8pzI,71c3336e-9e1e-49d2-9e8f-44356764e55b,1/0/00 6:25 PM
1485,2022-05-25,4VrOKKNJ43,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1486,2022-05-25,sSXz0Dftu4,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1490,2022-05-25,sSXz0Dftu4,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1489,2022-05-25,4VrOKKNJ43,73d8241f-5408-4f89-ac7b-df6ebff6e2ac,1/0/00 6:29 PM
1492,2022-05-25,wxhpdtRCLB,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1488,2022-05-25,wxhpdtRCLB,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1487,2022-05-25,r4C31yzD2S,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
1491,2022-05-25,r4C31yzD2S,71e865c7-4fb4-4e1f-ba43-51bfa1a34a23,1/0/00 6:30 PM
530,2022-06-09,iFzlu0nvqT,9d896c73-a814-40e2-accb-3381881d1e00,18:05
532,2022-06-09,NaN,NaN,18:05
487,2022-06-08,ICTkNztQyt,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
486,2022-06-08,DlV5N9xpfP,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
485,2022-06-08,5GuzPO6yDX,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,18:13
557,2022-06-09,DmU2ft45ME,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
556,2022-06-09,4yj7FOCoXL,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
554,2022-06-09,XFXmCq5bSJ,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
555,2022-06-09,sh9DtBOvPa,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
548,2022-06-09,DmU2ft45ME,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
547,2022-06-09,4yj7FOCoXL,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
545,2022-06-09,XFXmCq5bSJ,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
546,2022-06-09,sh9DtBOvPa,df0fa3a8-bcb5-49d0-b6e2-3acbafbd3ea7,18:27
552,2022-06-09,k3fQ1zbyhz,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
550,2022-06-09,67skEXF7Os,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
549,2022-06-09,AFfSM6TELQ,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
558,2022-06-09,AFfSM6TELQ,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
559,2022-06-09,67skEXF7Os,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
560,2022-06-09,F0oNqFO63D,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
561,2022-06-09,k3fQ1zbyhz,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
551,2022-06-09,F0oNqFO63D,a65047a4-0f92-42db-aa16-697b19b4f3af,18:30
553,2022-06-09,BnT5Qm3Zjt,4e119d77-66c7-4357-8546-dd924a5c82f4,18:31
562,2022-06-09,BnT5Qm3Zjt,4e119d77-66c7-4357-8546-dd924a5c82f4,18:31
671,2022-06-11,FZE7X9EoIe,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
670,2022-06-11,Rv7T5WkpBc,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
668,2022-06-11,FZE7X9EoIe,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
667,2022-06-11,Rv7T5WkpBc,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
666,2022-06-11,tTjCinV8Fg,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
669,2022-06-11,tTjCinV8Fg,cc741767-9dce-4eed-bbe1-11341ea9122d,18:35
526,2022-06-08,9AB5jtiq4K,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
525,2022-06-08,o0g8NWgObA,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
524,2022-06-08,q8f83fOvZq,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
523,2022-06-08,Vq9P9r9B6J,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
522,2022-06-08,9AB5jtiq4K,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
521,2022-06-08,o0g8NWgObA,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
520,2022-06-08,q8f83fOvZq,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
519,2022-06-08,Vq9P9r9B6J,d9a0a3fc-a6c9-4d73-8652-81081e2b4145,18:48
484,2022-06-08,ICTkNztQyt,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
483,2022-06-08,DlV5N9xpfP,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
482,2022-06-08,5GuzPO6yDX,d43f8a2a-077d-4dfb-9140-1ae1fb792dd2,20:00
531,2022-06-09,iFzlu0nvqT,NaN,NaN
654,2022-06-11,NaN,fbd0c19d-21e4-48e2-9ea6-81a5f2832fc8,NaN
655,2022-06-11,NaN,fbd0c19d-21e4-48e2-9ea6-81a5f2832fc8,NaN
1477,2022-05-25,PtFBDm8pzI,NaN,NaN
1497,2022-05-26,NaN,9c74dd77-9c93-422f-b388-b85fd18dd0af,NaN
1499,2022-05-26,1oazHce9po,NaN,NaN

In [40]:
df_test5.shape

(1707, 4)

In [41]:
df_test5 = df_test5.drop_duplicates(subset=['date', 'tag_id','party_id'], keep = False).sort_values(by = 'log_time', ascending = True)
df_test5.shape

(1656, 4)

In [42]:
df_test5.loc[df_test5['tag_id'].duplicated(keep = False)]

,date,tag_id,party_id,log_time
1498,2022-05-26,1oazHce9po,9c74dd77-9c93-422f-b388-b85fd18dd0af,1/0/00 6:16 PM
1516,2022-05-27,NaN,NaN,1/0/00 6:21 PM
1476,2022-05-25,PtFBDm8pzI,71c3336e-9e1e-49d2-9e8f-44356764e55b,1/0/00 6:25 PM
530,2022-06-09,iFzlu0nvqT,9d896c73-a814-40e2-accb-3381881d1e00,18:05
532,2022-06-09,NaN,NaN,18:05
531,2022-06-09,iFzlu0nvqT,NaN,NaN
1477,2022-05-25,PtFBDm8pzI,NaN,NaN
1497,2022-05-26,NaN,9c74dd77-9c93-422f-b388-b85fd18dd0af,NaN
1499,2022-05-26,1oazHce9po,NaN,NaN

In [12]:
import pandas as pd
df_test6 = pd.read_excel('Meeting_Point_Logs.xlsx')
df_test6.isnull().sum()

date        0
tag_id      0
party_id    0
log_time    0
dtype: int64

In [25]:
df_test6['tag_id'].duplicated().sum()

0

In [26]:
df_test6.duplicated().sum()

0

In [51]:
df_test6.sort_values(by = 'log_time', ascending = True)

           date      tag_id                              party_id log_time
788  2022-06-09  eysfHVn0ks  75bb4520-0db0-49dd-9061-e4699e6e9cb5    17:45
1507 2022-06-16  D6jehsJ7LM  677948e8-ab6d-48fd-b693-6baf8883ee72    17:45
1508 2022-06-16  rx2tX2e1Jo  ef2fe78e-d23d-4042-b6d0-d653d22e4f7d    17:45
1509 2022-06-16  SlsnlMkBUK  ef2fe78e-d23d-4042-b6d0-d653d22e4f7d    17:45
1288 2022-06-14  gH9dY07DBS  6400f921-b3fc-4ec2-9dd7-b3814b3f4166    17:45
...         ...         ...                                   ...      ...
920  2022-06-10  lDtNJkaHwD  8fedcedf-87fc-4b72-8959-bed4fa35b526    18:13
95   2022-06-01  oTWF0kzVr4  e46e9748-fc86-4d25-a3bf-7f340f0ac1e2    18:13
94   2022-06-01  SCOpqo1HNC  e46e9748-fc86-4d25-a3bf-7f340f0ac1e2    18:13
193  2022-06-02  0zmCxdinTt  3fec5036-9da2-470e-ab6d-31d93e37222a    18:15
192  2022-06-02  Lehck5F4hN  3fec5036-9da2-470e-ab6d-31d93e37222a    18:15

[2554 rows x 4 columns]

In [13]:
import pandas as pd
df_test7 = pd.read_excel('Office_Logs.xlsx')
df_test7.isnull().sum()

date         0
tag_id      11
party_id    14
log_time    23
dtype: int64

In [33]:
df_test7.shape

(3609, 4)

In [28]:
df_test7['tag_id'].duplicated().sum()

151

In [29]:
df_test7.duplicated().sum()

44

# Problème

doublon, manquant et probleme sur l'attribut log_time

Avec excel le plus grand log_time c'est 18:34 et sur python c'est 23:57

l'Ideal serait de filtre le log_time inferieur à 23:00

In [57]:
df_test7.loc[df_test7['tag_id'].duplicated(keep = False)].sort_values(by = 'log_time', ascending = False)

           date      tag_id                              party_id log_time
3202 2022-05-27  yyitMK4dlw  8519b9c3-ca07-418d-b735-f7357fa01a0a    23:57
3199 2022-05-27  U4CtUSl0rm  8519b9c3-ca07-418d-b735-f7357fa01a0a    23:57
3191 2022-05-27  8UWU0PPINV  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
3192 2022-05-27  QFAZs6s8mY  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
3193 2022-05-27  42u32XOC4n  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
...         ...         ...                                   ...      ...
976  2022-06-07  XMWUau6Tiw  451f9230-d32d-4899-8560-79bac22ca74d      NaN
977  2022-06-07  SDah3icM87  451f9230-d32d-4899-8560-79bac22ca74d      NaN
1098 2022-06-08  fYZz0H4NLp                                   NaN      NaN
1108 2022-06-08  Q6IrQXK5OL                                   NaN      NaN
1109 2022-06-08  ew4RP0sKdc                                   NaN      NaN

[294 rows x 4 columns]

In [56]:
df_test7.loc[(df_test7['log_time'] < '23:00')].shape

(385, 4)

In [ ]:
import pandas as pd
df_test8 = pd.read_excel('Return_Logs.xlsx')
df_test8.isnull().sum()

In [34]:
df_test8.shape

(3609, 4)

In [31]:
df_test8['tag_id'].duplicated().sum()

151

In [32]:
df_test8.duplicated().sum()

44

In [58]:
df_test8.loc[df_test8['tag_id'].duplicated(keep = False)].sort_values(by = 'log_time', ascending = False)

           date      tag_id                              party_id log_time
3202 2022-05-27  yyitMK4dlw  8519b9c3-ca07-418d-b735-f7357fa01a0a    23:57
3199 2022-05-27  U4CtUSl0rm  8519b9c3-ca07-418d-b735-f7357fa01a0a    23:57
3191 2022-05-27  8UWU0PPINV  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
3192 2022-05-27  QFAZs6s8mY  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
3193 2022-05-27  42u32XOC4n  7fad7a11-ba5c-4efa-9978-bb516b9ebd98    23:57
...         ...         ...                                   ...      ...
976  2022-06-07  XMWUau6Tiw  451f9230-d32d-4899-8560-79bac22ca74d      NaN
977  2022-06-07  SDah3icM87  451f9230-d32d-4899-8560-79bac22ca74d      NaN
1098 2022-06-08  fYZz0H4NLp                                   NaN      NaN
1108 2022-06-08  Q6IrQXK5OL                                   NaN      NaN
1109 2022-06-08  ew4RP0sKdc                                   NaN      NaN

[294 rows x 4 columns]

# Problème

manquant, doublons et log_time (grand max : 23:57)